@{
    ViewData["Title"] = "Failed Login";
}

<header>
    <h1 class="text-danger">Failed Login.</h1>
    <p class="text-danger">The email address you entered is not in our system. Contact your system administrator for help.</p>
</header>