@{
    ViewData["Title"] = "Sign In Failure";
}

<header>
    <h2>@ViewData["Title"].</h2>
    <p class="text-danger">Sorry, we only allow credentials where the corresponding email address already exists in our system. Please contact your system administrator for help.</p>
</header>