@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <partial name="_CookieConsentPartial" />
<div class="container body-content">
    <div class="col-md-12">
        <div class="col-md-9" style="text-align: center;">
            @{
                var hostValue = Context.Request.Host.Value;
                if (hostValue != null && hostValue.Contains("cascadetech"))
                {
            <img src="/images/Cascade_Tech_Blue_Border_Transparent_Background.png" alt="Cascade Technology Alliance" style="width: 435px; border-width: 0;" />
                }
                else
                {
            <img src="/images/WESD_logo_horz_h120.jpg" alt="Willamette ESD" style="border-width: 0;" />
                }
            }
        </div>
    </div>
    <br/><br/><br />
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Cascade Technology Alliance</p>
    </footer>
</div>
    @RenderSection("Scripts", required: false)
</body>
</html>