@using Microsoft.AspNetCore.Http
@model Cta.IdentityServer.Models.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    ViewData["ReturnUrl"] = Context?.Request?.Query?["returnUrl"].ToString();
}
<style>
    div.text-danger ul {
        list-style: none;
    }
</style>

<form asp-controller="Account" asp-action="ForgotPassword" asp-route-email="Email" method="post" class="form-horizontal">
    <div class="form-group">
        <br /><br/><br />
        <hr style="width: 100%;" />
        <h4>@ViewData["Title"]</h4>
        <h5>Enter your email to reset your password.</h5>
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-9">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <input asp-for="ReturnUrl" type="hidden" value="@ViewData["ReturnUrl"].ToString()" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}