@model Cta.IdentityServer.Models.Account.LogoutViewModel
@{
    ViewData["Title"] = "Sign Out";
}


<div class="logout-page">
    <div class="row">
        <div class="col-sm-6">
            <br /><br/><br />
            <hr style="width: 100%;" />
            <h4>@ViewData["Title"].</h4>
            <h5>Would you like to sign out of Oregon Data Suite?</h5>
            <form asp-action="Logout">
                <input type="hidden" name="logoutId" value="@Model.LogoutId"/>
                <fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary">Yes</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>